<h2> my shibes? </h2>
<p> {{ shibes[5].name }} </p>
<ul>
  <li *ngFor="let shibe of shibes"
      (click)="onSelect(shibe)">
    <span> {{ shibe.name }} </span>
  </li>
</ul>

<div *ngIf="selectedShibe">
  <h4> {{ selectedShibe.name }} Details </h4>
  <span>id: </span> {{ selectedShibe.id }}
  <span>colour: </span> {{ selectedShibe.colour }}
  <span>rarity: </span> {{ selectedShibe.rarity }}
  <span>love: </span> {{ selectedShibe.love }}
  <span>age: </span> {{ selectedShibe.age }}
  <label>name:
    <input [(ngModel)]="selectedShibe.name" placeholder="name">
  </label>
</div>
