<h2> my shibes? </h2>
<ul>
  <li *ngFor="let shibe of shibes" (click)="onSelect(shibe)">
    <span> {{ shibe.name }} </span>
  </li>
</ul>

<div *ngIf="selectedShibe">
  <h4> {{ selectedShibe.name }} Details </h4>
  <label>name:
    <input [(ngModel)]="selectedShibe.name" placeholder="name">
  </label>
  <span>id: {{ selectedShibe.id }} </span>
  <span>colour: {{ selectedShibe.colour }} </span>
  <span>rarity: {{ selectedShibe.rarity }} </span>
  <span>love: {{ selectedShibe.love }} </span>
  <span>age: {{ selectedShibe.age }} </span>
</div>
