/*
  ░░░░░░░█▐▓▓░████▄▄▄█▀▄▓▓▓▌█ cool game
  ░░░░░▄█▌▀▄▓▓▄▄▄▄▀▀▀▄▓▓▓▓▓▌█
  ░░░▄█▀▀▄▓█▓▓▓▓▓▓▓▓▓▓▓▓▀░▓▌█
  ░░█▀▄▓▓▓███▓▓▓███▓▓▓▄░░▄▓▐█▌ work so hard
  ░█▌▓▓▓▀▀▓▓▓▓███▓▓▓▓▓▓▓▄▀▓▓▐█
  ▐█▐██▐░▄▓▓▓▓▓▀▄░▀▓▓▓▓▓▓▓▓▓▌█▌
  █▌███▓▓▓▓▓▓▓▓▐░░▄▓▓███▓▓▓▄▀▐█ much +prizes
  █▐█▓▀░░▀▓▓▓▓▓▓▓▓▓██████▓▓▓▓▐█
  ▌▓▄▌▀░▀░▐▀█▄▓▓██████████▓▓▓▌█▌
  ▌▓▓▓▄▄▀▀▓▓▓▀▓▓▓▓▓▓▓▓█▓█▓█▓▓▌█▌ Wow.
  █▐▓▓▓▓▓▓▄▄▄▓▓▓▓▓▓█▓█▓█▓█▓▓▓▐█
*/


#game-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: "assets/images/scenes/scene.png";
}

#dog-container {
  width: 100%;
  height: 100%;
}

#toy-container {
  width: 100%;
  height: 100%;
}

.toy {

}

.dog {

}
