/*
  ░░░░░░░█▐▓▓░████▄▄▄█▀▄▓▓▓▌█ cool game
  ░░░░░▄█▌▀▄▓▓▄▄▄▄▀▀▀▄▓▓▓▓▓▌█
  ░░░▄█▀▀▄▓█▓▓▓▓▓▓▓▓▓▓▓▓▀░▓▌█
  ░░█▀▄▓▓▓███▓▓▓███▓▓▓▄░░▄▓▐█▌ work so hard
  ░█▌▓▓▓▀▀▓▓▓▓███▓▓▓▓▓▓▓▄▀▓▓▐█
  ▐█▐██▐░▄▓▓▓▓▓▀▄░▀▓▓▓▓▓▓▓▓▓▌█▌
  █▌███▓▓▓▓▓▓▓▓▐░░▄▓▓███▓▓▓▄▀▐█ much +prizes
  █▐█▓▀░░▀▓▓▓▓▓▓▓▓▓██████▓▓▓▓▐█
  ▌▓▄▌▀░▀░▐▀█▄▓▓██████████▓▓▓▌█▌
  ▌▓▓▓▄▄▀▀▓▓▓▀▓▓▓▓▓▓▓▓█▓█▓█▓▓▌█▌ Wow.
  █▐▓▓▓▓▓▓▄▄▄▓▓▓▓▓▓█▓█▓█▓█▓▓▓▐█
*/


#game-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  white-space: nowrap;
}

#room-display {
  height: 100%;
  width: auto;
}

#dog-container {

  width: 100%;
  height: 100%;
  top: 0;
}

#toy-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.toy {

}

.dog {
  width: 250px;
}
